@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

.container
    width: 1140px
    margin: 0 auto

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

*
    font-family: 'Roboto', sans-serif
    font-weight: 300
    margin: 0
    padding: 0

@import 'base/variables.sass';

@import 'blocks/menu.sass';

@import 'blocks/title.sass';
@import 'blocks/button.sass';
@import 'blocks/promoSection/promo.sass';
@import 'blocks/aboutSection/about.sass';
@import 'blocks/whySection/why.sass';
@import 'blocks/toursSection/tours.sass';
@import 'blocks/teamSection/team.sass';
@import 'blocks/reviewsSection/reviews.sass';
@import 'blocks/applicationSection/application.sass';
@import 'blocks/contactsMedia/contacts.sass';
@import 'blocks/footer/footer.sass';

@import 'blocks/media.sass';
@import 'blocks/aboutSection/aboutMedia.sass';
@import 'blocks/promoSection/promoMedia.sass';
@import 'blocks/whySection/whyMedia.sass';
@import 'blocks/toursSection/toursMedia.sass';
@import 'blocks/teamSection/teamMedia.sass';
@import 'blocks/reviewsSection/reviewsMedia.sass';
@import 'blocks/applicationSection/applicationMedia.sass';
@import 'blocks/contactsMedia/contactsMedia.sass';
@import 'blocks/footer/footerMedia.sass';