.policy
    background-color: $main-color-light
    padding: 80px
    h1
        font-weight: 700
        margin-bottom: 20px
    h2
        font-weight: 500
    p
        margin: 10px 0
        font-size: 18px
        text-align: justify
        &.sub
            margin: 5px  0 0 30px 


@media (max-width: 576px)
    .menu_policy
        transform: translateX(-100%)
        position: fixed