.contacts
    display: grid
    grid-template-columns: repeat(2, 1fr)
    transition: 1s all
    overflow: hidden
    &.active
        .contacts__map
            transform: translateX(0)
    &__title-wrapper
        margin-top: 60px
        display: flex
        justify-content: center
    &__wrapper
        width: 500px
        display: grid
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)
        margin: 20px auto 
    &__item
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px
        opacity: 0
        transition: 1s all
        &.active
            opacity: 1
    &__icon
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 70px
        height: 70px
        border: 3px solid $main-color-dark
        border-radius: 100%
        img
            width: 30px
    &__title
        margin-top: 10px
        font-size: 18px
        letter-spacing: 3px
        color: $main-color-dark
        text-transform: uppercase
        font-weight: 500
    &__text
        margin-top: 10px
        font-weight: 300
        font-size: 16px
        color: #23495A
        text-align: center
        a
            display: block
            color: $main-color-dark
            &:hover
                text-decoration: none
    &__map
        transform: translateX(100%)
        transition: 1s all